<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2016 Rails105
    <br>Design by
    <br><a href="https://fullstack.xinshengdaxue.com/posts/355" target=_new>fengkai</a>
  </P>

  <p class="text-right">About us
    <br>This is the second paragraph.
    <br>This is the second paragraph.
    <br>This is the second paragraph.
  </p>

</footer>
